<!DOCTYPE html>
<html>
<head>
<title> ONGC SignUp</title>
<style>
  body{margin: 0px}
  p.para3{
background-image:url();
background-repeat:no-repeat;
color:#273746;
font-size:55px;
font-style:cooper;
padding:55px;
height:90px;
margin:10px;
margin-bottom:2px;
border-radius:5px;
}
ul.one{
list-style:none;
text-align:center;
border-width:10px;
border-radius:5px;
background-color:#830300;
margin:10px;
margin-top:0px;
}
ul.one li a{
font-size:30px;
font-family:calibry;
font-weight: bold;
text-decoration:none;
color: white;
padding:95px;
}
ul.one li a:hover{
color:orange;
}

div.main{
  font-size-adjust: 20px;
  background-color: #273746;
  margin-left: 20px;
  margin-top:10px;
}


div.last1{
background-color:#273746;
margin:10px;
margin-top:10px;
}
td.four{
align:left;
}
p.para5{
font-size:20px;
font-weight:bold;
color:black;
}
ul.new3{
list-style:none;
line-height:1.5em;
}
ul.new3 li a{
color:white;
text-decoration:none;
font-size:15px;
}
ul.new3 li a:hover{
color:black;
}
</style>
</head>

<body style="background-color:#EAEAEA;">


<p class="para3">
ONGC<br> Delhi
<font face=vedarna size=20 align-right=bottom color=gold><i></f>
</p>
<ul class="one">
<li><a href="https://www.ongcindia.com/wps/wcm/connect/en/home/ " target ="_blank">Home</a></li>
<li><a href="https://www.ongcindia.com/wps/wcm/connect/en/about-ongc/ongc-at-a-glance/corporate-profile/" target ="_blank">About</a></li>
<li><a href=" ">Sign in</a></li>
<li><a href="https://www.ongcindia.com/wps/wcm/connect/en/about-ongc/contact-us/" target="_blank">Contact<a></li>
</ul>
<div class="main">
  <center>
  <form action="/signup" method="post" autocomplete="off">
    <fieldset>
      <legend>Signup:</legend>
      First name:<br>
      <input type="text" name="fname" autofocus required><br>
      Last name:<br>
      <input type="text" name="lname" required><br>
      Email Address:<br>
      <input type="email" name="email" required><br>
      Password:<br>
      <input type="password" id="pwd" name="password"><br>
      Confirm Password:<br>
      <input type="password" id="re-pwd" autocomplete="off"  name="confirm" required><br>
      <br> 
      <br>
      <input style="height:30px ; width:100px" type="submit" value="Submit">
    </fieldset>
  </form>
</center>
</div>
<!-- <h4><a href="/employeelogin"> Login as employee/ Service Manager </a></h4> -->


<div class="last1" align="left">
<table class="quick">
<tr class="last">
<td class="four">
<p class="para5">Quick Links</p>
<ul class="new3">
<li><a href="https://www.ongcindia.com/wps/wcm/connect/en/home/ " target ="_blank">Home</a></li>
<li><a href="https://www.ongcindia.com/wps/wcm/connect/en/about-ongc/ongc-at-a-glance/corporate-profile/ " target ="_blank">About</a></li>
<li><a href="https://www.ongcindia.com/wps/wcm/connect/en/about-ongc/contact-us/" target="_blank">Contact</a></li>
<li><a href=" ">login</a></li>
</ul>
</td>

</body>
</html>
